{% extends 'base.html.twig' %}

{% block title %}Contactez-nous !{% endblock %}

{% block body %}
  <div class="container">
    <h1>Contact</h1>
    {% for label, messages in app.flashes(['success', 'danger']) %}
      {% for message in messages %}
        <div class="alert alert-{{ label }}" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    {% endfor %}
    {{ form_start(contact_form) }}
      <div class="row">
        <div class="col">
          {{ form_label(contact_form.name, "Votre nom") }}
          {{ form_widget(contact_form.name) }}
        </div>
      </div>

      {{ form_rest(contact_form) }}

      <div class="row">
        <div class="col">
          <input type="submit" value="Envoyer" class="btn btn-success" />
        </div>
      </div>

    {{ form_end(contact_form) }}
  </div>
{% endblock %}
